/**
PALETTE COULEUR
noir : #35363c
rouge : #cc0033
vert: #0f4530
gris: #f9f9f9
*/

.background{
    background-color: #f9f9f9;
    height: auto;
}
.logo{
    position: relative;
    top: -25px;
}
.onglet{
    background-color: #35363c !important;
    border-color: #35363c;
}
.notification-message{
    color: white;
    display:inline-block;
    width: 25px;
    height: 25px;
    border-radius: 20px;
    padding: 2px 0 0 0;
    text-align: center;
    background-color: #cc0033;
}
.sous-menu:hover{
    color: #cc0033 !important;
    font-weight: bold;
    font-size: 1.2em;
}
.descriptif-md{
    color: #35363c;
}
.descriptif-sm-xs{
    color: #35363c;
    font-size: 1.8em;
}
.descriptif-md, .descriptif-sm-xs{
     font-weight: bold;
    padding-bottom: 10px;
    border-bottom: solid #cc0033 5px;
    font-family: 'Ovo', serif;
}
footer{
    margin-top: 100px;
    background-color: #35363c;
    height: 50px;
    padding: 17px;
    color: white;
    font-size: 1.1em;
    text-align: center;
    border-radius: 5px;
}

footer a{
    color: #cc0033;
}
footer a:hover{
    font-size: 1.2em;
    text-decoration: none;
    color: #cc0033;
}

main{
    margin-top: 25px;
}

.indicatif{
    color: #0f4530;
    font-weight: bold;
    font-size: 1.5em;
}

label{
    color: #cc0033;
    /*border-bottom: solid #35363c 5px;*/
    font-size: 1.3em;
    padding: 5px 0px
}

.boutton{
    background-color: #35363c !important;
    color: white !important;
}
.boutton:hover{
    background-color: dimgrey !important;
}

.aide-saisie{
    background-color: white;
    font-size: 1.2em;
    font-weight: bold;
    border-radius: 5px;
    padding-left: 5px;
    box-shadow: darkgrey 1px 1px 1px;
}
.aide-saisie p:hover{
    background-color: darkgrey;
    cursor: pointer;
}

main{
    margin-bottom: 200px;
}

h3{
    text-align: center;
    color: #cc0033 !important;
    font-weight: bold !important;
    border-top: solid #35363c 2px;
    border-bottom: solid #35363c 2px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-top: 50px !important;
}

/* styles offre */
.offre{
    padding: 40px 20px;
    border-bottom: solid #35363c 1px;
}
.offre-indication-ville{
    color: #35363c;
    font-size: 1.5em;
    font-family: 'Ovo', serif;
    font-weight: bold;
}

.offre-ville{
    font-size: 1.4em;
    color: #cc0033;
}
.offre-dateTime{
    font-size: 1.3em;
    font-weight: bold;
    color: white;
    background-color: #35363c;
    padding: 5px 5px;
    text-align: center;
}
.fa-suitcase, .fa-envelope{
    font-size: 30px !important;
    color: #0f4530; 
}
.prix-colis, .prix-enveloppe{
    font-size: 2.1em;
    font-weight: bold;
    text-align: center;
    color: white;
}
.prix-colis{
    background-color: #35363c;
}
.prix-enveloppe{
    background-color: #cc0033;
}
.offre-date-publication{
    font-size: 1.2em;
    text-decoration: underline;
    color: #35363c;
}
.offre-quantite-dispo{
    font-size: 1.2em;
    color: #35363c;
    font-weight: bold;
}
.offre-unite{
    text-align: center;
}
.offre-quantite{
    display: inline-block;
    width: 150px;
    text-align: center;
}

.offre-dispo-lettre .offre-quantite, .offre-dispo-colis .offre-quantite{
    font-size: 2.3em;
}
.offre-dispo-lettre .offre-unite, .offre-dispo-colis .offre-unite{
    font-size: 1.5em;
}
.offre-dispo-lettre .offre-quantite{
    color: #cc0033;
}
.offre-dispo-lettre .offre-unite{
    color: white;
    background-color: #cc0033;
    border-radius: 2px;
    padding: 3px 3px;
    width: 150px;
    display: inline-block;
}
.offre-dispo-colis .offre-unite{
    color: white;
    background-color: #35363c;
    border-radius: 2px;
    padding: 3px 3px;
    width: 150px;
    display: inline-block;
}
.offre button{
    width: 100% !important;
    height: 100% !important;
    font-size: 1.5em;
}

/* style modal */
.modal-header{
    height: 100px !important;
    padding: 20px 40px !important;
}
.modal-header, h4, .close {
      background-color: #35363c;
      color:white !important;
      text-align: center;
  }
  .modal-footer {
      background-color: #f9f9f9;
  }
#contact-numero{
    font-size: 3em;
    font-weight: bold;
    text-align: center;
}
.modal-message{
    color: #cc0033;
    font-size: 1.3em;
}
.modal button{
    font-size: 1.2em ;
}
.help{
    font-size: 1.3em;
}

/* style formulaire connection */
#connection{
    margin-bottom: 50px;
    margin-top: 50px;
}
#connection .body-connection{
    background-color: white;
    padding: 25px;
}
.header-connection{
    padding: 30px 40px;
    background-color: #35363c;
    color: white;
    text-align: center;
    font-size: 50px;
}
.foot-connection{
    margin-top: 20px;
    background-color: #f9f9f9;
}
#connection button{
    font-size: 1.2em;
}

/* style formulaire ajout offre */
#ajout-offre button{
    width: 100% !important;
}

/* style detail-offre */
.precision p:nth-child(1){
    font-weight: bold;
    font-size: 1.2em;
    padding-left: 10px;
    color: #35363c;
}
.precision p:nth-child(2){
    background-color: white;
    height: 100px;
    margin-bottom: 15px;
    padding: 10px;
    color: #35363c;
    font-size: 1.2em
}

/* style mon profil */
.profil-label{
    font-size: 1.3em;
}
.profil-valeur{
    font-size: 1.4em;
    color: #cc0033;
}

/* style message */
#message article{
    border-bottom: solid #35363c 0.5px;
    padding-bottom: 10px;
    margin-bottom: 10px;
}
.message-prenom, .message-offre{
    color: #cc0033;
    font-size: 1.2em;
}
.message-sign-true{
    color: #4CAE4C;
    font-size: 30px;
}
.message-sign-false{
    color: #AC2925;
    font-size: 30px;
}

/* style gestion authentification */
#gestion-auth button{
    width: 100%;
}

/* style trier-par (offres) */
#trier-par li{    
    list-style-type: none;
    font-size: 1.2em;
    
}