{% extends "layout.html.twig" %}

{% block title %}Accueil{% endblock %}

{% block content %}
<main>


    {% if authenticated == true %}
                    <div class="alert alert-success">
                        Vous êtes connecté, bienvenue {{ app.user.userfirstname }}.
                    </div>
                    {% endif  %}

            <form class="form container-fluid" id="rechercher-offre" method="post" action="/offres">

                <p class="indicatif">Vous voulez envoyer votre colis ou lettre à l'étranger</p>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <label>Votre ville :</label>
                        <div class="">
                            <input type="text" name="villeDepart" class="form-control input-saisie-ville" />
                            <div class="aide-saisie"></div>
                            <p class="help"></p>
                        </div>
                    </div>


                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <label>Ville de destination :</label>
                        <div class="">
                            <input type="text" name="villeDestination" class="form-control input-saisie-ville" />
                            <div class="aide-saisie"></div>
                            <p class="help"></p>
                        </div>
                    </div>

                    <div class="col-md-4 col-sm-4 col-xs-12">
                        <p id="valide-form-aide"></p>
                        <button type="submit" class="btn bn-default boutton btn-lg"><i class="fa fa-search"></i> voir les offres</button>
                        <p class="help"></p>
                    </div>

            </form>

            <br/>
            <div class="container-fluid">
                <p class="indicatif col-md-8 col-sm-8 col-xs-12">Vous partez et vous avez quelque place dans vos bagages à vendre</p>
                <div class="col-md-4 col-sm-4 col-xs-12">
                    <button class="btn btn-default boutton btn-lg"><i class="fa fa-plus" aria-hidden="true"></i> ajouter une offre</button>
                </div>
            </div>

            <br/><br/>

            <!-- les offres -->

            <h3>LES OFFRES RECENTS</h3>
            <article class="offre container-fluid">
                <div class="row">
                    <div class="col-md-offset-0 col-md-1 col-sm-offset-10 col-xs-offset-10 col-sm-2 col-xs-2"><img alt="icon logo" src="../img/icon-logo.png" height="50" width="50"></div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <span class="offre-indication-ville">Départ : </span>
                        <strong class="offre-ville">PARIS, FRANCE</strong>
                        <p class="offre-dateTime"><i class="fa fa-calendar" aria-hidden="true"></i><br/>
Le 11 Septembre 2018 à 11h00</p>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <span class="offre-indication-ville">Retour : </span>
                        <strong class="offre-ville">TANANARIVE, MADAGASCAR</strong>
                        <p class="offre-dateTime"><i class="fa fa-calendar" aria-hidden="true"></i>
<br/>Le 12 Septembre 2018 à 13h15</p>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
                        <p class="prix-colis col-md-6 col-sm-6 col-xs-6">7 &euro; <br/>KG</p>
                        <p class="prix-enveloppe col-md-6 col-sm-6 col-xs-6">2 &euro; <br/>ENV</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="offre-quantite-dispo">Quantité disponible : </p>
                        <p class="offre-dispo-colis col-md-6 col-sm-6 col-xs-6"><strong class="offre-quantite">10</strong><br/><strong class="offre-unite">kg</strong></p>
                        <p class="offre-dispo-lettre col-md-6 col-sm-6 col-xs-6"><strong class="offre-quantite">15</strong> <br/><strong class="offre-unite">enveloppes</strong></p>
                        
                    </div>
                    
                    <div class="col-md-12  col-sm-6 col-xs-12">
                        <p class="offre-date-publication col-md-offset-1">Mise en ligne le 04/01/2018 par Username</p>
                        
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-6">
                    <p class="pull-right">
                            <a href="#" style="font-size: 2.0em; font-weight: bold;"> RESERVER <i class="fa fa-angle-double-right" aria-hidden="true"></i></i></a>
            </p>
                        </div>
            </article>
<article class="offre container-fluid">
                <div class="row">
                    <div class="col-md-offset-0 col-md-1 col-sm-offset-10 col-xs-offset-10 col-sm-2 col-xs-2"><img alt="icon logo" src="../img/icon-logo.png" height="50" width="50"></div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <span class="offre-indication-ville">Départ : </span>
                        <strong class="offre-ville">PARIS, FRANCE</strong>
                        <p class="offre-dateTime"><i class="fa fa-calendar" aria-hidden="true"></i><br/>
Le 11 Septembre 2018 à 11h00</p>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <span class="offre-indication-ville">Retour : </span>
                        <strong class="offre-ville">TANANARIVE, MADAGASCAR</strong>
                        <p class="offre-dateTime"><i class="fa fa-calendar" aria-hidden="true"></i>
<br/>Le 12 Septembre 2018 à 13h15</p>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
                        <p class="prix-colis col-md-6 col-sm-6 col-xs-6">7 &euro; <br/>KG</p>
                        <p class="prix-enveloppe col-md-6 col-sm-6 col-xs-6">2 &euro; <br/>ENV</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="offre-quantite-dispo">Quantité disponible : </p>
                        <p class="offre-dispo-colis col-md-6 col-sm-6 col-xs-6"><strong class="offre-quantite">10</strong><br/><strong class="offre-unite">kg</strong></p>
                        <p class="offre-dispo-lettre col-md-6 col-sm-6 col-xs-6"><strong class="offre-quantite">15</strong> <br/><strong class="offre-unite">enveloppes</strong></p>
                        
                    </div>
                    
                    <div class="col-md-12  col-sm-6 col-xs-12">
                        <p class="offre-date-publication col-md-offset-1">Mise en ligne le 04/01/2018 par Username</p>
                        
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-6">
                    <p class="pull-right">
                            <a href="#" style="font-size: 2.0em; font-weight: bold;"> RESERVER <i class="fa fa-angle-double-right" aria-hidden="true"></i></i></a>
            </p>
                        </div>
            </article>
<article class="offre container-fluid">
                <div class="row">
                    <div class="col-md-offset-0 col-md-1 col-sm-offset-10 col-xs-offset-10 col-sm-2 col-xs-2"><img alt="icon logo" src="../img/icon-logo.png" height="50" width="50"></div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <span class="offre-indication-ville">Départ : </span>
                        <strong class="offre-ville">PARIS, FRANCE</strong>
                        <p class="offre-dateTime"><i class="fa fa-calendar" aria-hidden="true"></i><br/>
Le 11 Septembre 2018 à 11h00</p>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <span class="offre-indication-ville">Retour : </span>
                        <strong class="offre-ville">TANANARIVE, MADAGASCAR</strong>
                        <p class="offre-dateTime"><i class="fa fa-calendar" aria-hidden="true"></i>
<br/>Le 12 Septembre 2018 à 13h15</p>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
                        <p class="prix-colis col-md-6 col-sm-6 col-xs-6">7 &euro; <br/>KG</p>
                        <p class="prix-enveloppe col-md-6 col-sm-6 col-xs-6">2 &euro; <br/>ENV</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="offre-quantite-dispo">Quantité disponible : </p>
                        <p class="offre-dispo-colis col-md-6 col-sm-6 col-xs-6"><strong class="offre-quantite">10</strong><br/><strong class="offre-unite">kg</strong></p>
                        <p class="offre-dispo-lettre col-md-6 col-sm-6 col-xs-6"><strong class="offre-quantite">15</strong> <br/><strong class="offre-unite">enveloppes</strong></p>
                        
                    </div>
                    
                    <div class="col-md-12  col-sm-6 col-xs-12">
                        <p class="offre-date-publication col-md-offset-1">Mise en ligne le 04/01/2018 par Username</p>
                        
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-6">
                    <p class="pull-right">
                            <a href="#" style="font-size: 2.0em; font-weight: bold;"> RESERVER <i class="fa fa-angle-double-right" aria-hidden="true"></i></i></a>
            </p>
                        </div>
            </article>
<article class="offre container-fluid">
                <div class="row">
                    <div class="col-md-offset-0 col-md-1 col-sm-offset-10 col-xs-offset-10 col-sm-2 col-xs-2"><img alt="icon logo" src="../img/icon-logo.png" height="50" width="50"></div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <span class="offre-indication-ville">Départ : </span>
                        <strong class="offre-ville">PARIS, FRANCE</strong>
                        <p class="offre-dateTime"><i class="fa fa-calendar" aria-hidden="true"></i><br/>
Le 11 Septembre 2018 à 11h00</p>
                    </div>
                    <div class="col-md-5 col-sm-12 col-xs-12">
                        <span class="offre-indication-ville">Retour : </span>
                        <strong class="offre-ville">TANANARIVE, MADAGASCAR</strong>
                        <p class="offre-dateTime"><i class="fa fa-calendar" aria-hidden="true"></i>
<br/>Le 12 Septembre 2018 à 13h15</p>
                    </div>
                    
                </div>
                <div class="row">
                    <div class="col-md-offset-1 col-md-5 col-sm-12 col-xs-12">
                        <p class="prix-colis col-md-6 col-sm-6 col-xs-6">7 &euro; <br/>KG</p>
                        <p class="prix-enveloppe col-md-6 col-sm-6 col-xs-6">2 &euro; <br/>ENV</p>
                    </div>
                    <div class="col-md-6 col-sm-6 col-xs-12">
                        <p class="offre-quantite-dispo">Quantité disponible : </p>
                        <p class="offre-dispo-colis col-md-6 col-sm-6 col-xs-6"><strong class="offre-quantite">10</strong><br/><strong class="offre-unite">kg</strong></p>
                        <p class="offre-dispo-lettre col-md-6 col-sm-6 col-xs-6"><strong class="offre-quantite">15</strong> <br/><strong class="offre-unite">enveloppes</strong></p>
                        
                    </div>
                    
                    <div class="col-md-12  col-sm-6 col-xs-12">
                        <p class="offre-date-publication col-md-offset-1">Mise en ligne le 04/01/2018 par Username</p>
                        
                    </div>
                </div>
                <div class="col-md-5 col-md-offset-6">
                    <p class="pull-right">
                            <a href="#" style="font-size: 2.0em; font-weight: bold;"> RESERVER <i class="fa fa-angle-double-right" aria-hidden="true"></i></i></a>
            </p>
                        </div>
            </article>

            <!-- / les offres -->


        </main>

{% endblock %}