{% extends "layout.html.twig" %}

{% block title %}Authentification{% endblock %}

{% block content %}
<main>



            <section class="container-fluid" id="connection">
                <div class="col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2 col-xs-12">
                <header class="header-connection">
                    <i class="fa fa-lock" aria-hidden="true"></i>
                </header>
                <div class="body-connection">
                    {% for flashMessage in app.session.flashbag.get('success') %}
                    <div class="alert alert-success">
                        {{ flashMessage }}
                    </div>
                    {% endfor %}
                    
                    {% for error in errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                    {% endfor %}
                    
                    <form role="form" action ="{{ path('login_check') }}" method="post">
                        <div class="form-group">
                            <label for="mail-connection"><i class="fa fa-address-book" aria-hidden="true"></i> Votre nom</label>
                            <input type="text" class="form-control" id="mail-connection" name="_username" placeholder="Entrez votre nom ici"  required>
                        </div>
                        <div class="form-group">
                            <label for="pass-connection"><i class="fa fa-key" aria-hidden="true"></i> Password</label>
                            <input type="password" class="form-control" id="pass-connection" name="_password" placeholder="Entrer votre mot de passe" required>
                        </div>
                        <div class="checkbox">
                            <label>
                                <input type="checkbox" name="remember_me" checked>Se souvenir de moi</label>
                        </div>
                        <button type="submit" class="btn btn-success btn-block"><span class="glyphicon glyphicon-off"></span> Se connecter</button>
                    </form>
                    <div class="foot-connection container-fluid">
                        <p class="pull-left">Vous n'êtes pas membre ? <span class="inscriptionBtn"><a href="#">Inscrivez vous</a></span> c'est gratuit</p>
                        <p class="pull-left">Vous avez oublié votre mot de passe ? <a href="#">Cliquez ici</a></p>
                    </div>
                </div>
                </div>
            </section>


        </main>
{% endblock %}