{% extends "layout.html.twig" %}

{% block title %} Mon profil {% endblock %}

{% block content %}

<main>



            <h3>VOTRE PROFIL</h3>
            <div class="col-md-6 col-sm-6">
            <p><span class="profil-label">Votre adresse mail :</span> <strong class="profil-valeur">nom.pseudo@addr.com</strong> </p>
            <p><span class="profil-label">Votre prénom :</span> <strong class="profil-valeur">pseudoxx</strong></p>
                <p><span class="profil-label">Votre nom :</span> <strong class="profil-valeur">NerdName</strong></p>
                <p><span class="profil-label">Votre numéro de téléphone :</span> <strong class="profil-valeur">0608518247</strong></p>
                
            </div>
            <div class="col-md-6 col-sm-6">
                <button class="btn btn-lg btn-info">Modifier mon profil</button>
            </div>
            


        </main>

{% endblock %}